[submodule "services/Overpass-API"]
	path = services/Overpass-API
	url = https://github.com/drolbr/Overpass-API.git
[submodule "services/overpass-turbo"]
	path = services/overpass-turbo
	url = https://github.com/tyrasd/overpass-turbo.git
